<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="FileVO" type="com.overtheflow.vo.FileVO" />
		<typeAlias alias="FolderVO"	type="com.overtheflow.vo.FolderVO" />
		<typeAlias alias="MusicVO" type="com.overtheflow.vo.MusicVO" />
		<typeAlias alias="GenreVO" type="com.overtheflow.vo.GenreVO" />
		<typeAlias alias="MemberVO"	type="com.overtheflow.vo.MemberVO" />
		<typeAlias alias="PlaylistVO" type="com.overtheflow.vo.PlaylistVO" />
	</typeAliases>

</configuration>